.navbar {
  height: 13vh;
  width: 100vw;
  background-color: #fff;
  position: fixed;
  top: 0;
  box-shadow: 2rem 0px 1rem;
}
.img {
  width: auto;
  height: 10vh;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
/* .logo {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-size: 30px;
} */
/* @media screen and (min-width: 480px) {
  .navbar {
  }
} */
